* {
  font-family: "Roboto Mono", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
}

body {
  background-color: #222831;
}

.headline {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  letter-spacing: 1px;

  h1 {
    color: #979797;
    font-weight: 700;
    margin: 0.5rem;
  }

  p {
    color: #636363;
    font-size: 1.2rem;
    margin: 0;
  }
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  background-color: #181c22;
  padding: 1rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

figcaption {
  color: #b6b6b6;
  text-align: center;
  padding-top: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.item {
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}

.item:hover,
.item:focus {
  cursor: pointer;
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 10px 25px 0 rgba(19, 30, 65, 0.1);
  box-shadow: 0 10px 25px 0 rgba(2, 254, 165, 0.8),
    0 0 40px 10px rgba(2, 254, 165, 0.2), 0 0 80px 20px rgba(2, 254, 165, 0.1);
  border-color: #02fea5;
  transform: scale(1.04) rotate(-1deg);

  figure {
    background-color: #1d2229;
  }

  figcaption {
    color: #02fea5;
  }
}

/* desktop */
@media only screen and (min-width: 768px) {
  .align-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  img {
    width: 200px;
    height: 200px;
  }

  figure {
    padding: 1rem;
  }
}

/* ultra-narrow */
@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
