/* Put stuff here... */
* {
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: #222831;
}

figure:hover {
  cursor: pointer;
  -webkit-transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 10px 25px 0 rgba(19, 30, 65, 0.1);
  box-shadow: 0 10px 25px 0 rgba(2, 254, 165, 0.8);
}

/* Disabled link box */
figure.disabled:hover {
  cursor: default;
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

figure.disabled {
  background-color: rgba(24, 28, 34, 0.3);
}

figure.disabled figcaption {
  background-color: rgba(0, 0, 0, 0);
}

figure.disabled img {
  opacity: 0.1;
}

figure.disabled img:hover {
  cursor: default;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  background-color: #181c22;
  padding: 1em;
}

img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

figcaption {
  color: darkgrey;
  text-align: center;
  background-color: #181c22;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  row-gap: 1em;
  column-gap: 1em;
}

/* desktop styling */
@media only screen and (min-width: 768px) {
  .align-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-auto-rows: auto;
    row-gap: 1em;
    column-gap: 1em;
  }

  figure {
    padding: 1em;
  }
}
